body {
    background: #00ccfd;
    margin: 0px;
    font-family: 'Mulish', sans-serif;
  }
  
  .header {
    background-color: #3090df;
    width: 100%;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  
  .header__menu {
    margin-right: 30px;
  }
  
  .header__menu ul {
    display: none;
    list-style: none;
    padding: 0px;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 0px 0px 0px -14px;
  }
  
  .header__menu:hover ul, ul:hover {
    display: block;
  }
  
  .header__menu li {
    margin: 10px 0px;
  }
  
  .header__menu li a {
    color: white;
    text-decoration: none;
  }
  
  .header__menu li a:hover {
    text-decoration: underline;
  }
  
  .header__menu--profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 8px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .header__menu--profile img {
    margin-right: 8px;
    width: 40px;
  }
  
  .header__menu--profile p {
    margin: 0px;
    color: white;
  }
  
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 300px;
    border-radius: 0px 0px 40px 40px;
  }
  
  .main__title {
    color: white;
    font-size: 25px;
  }
  
  .main__tittle2 {
    color: rgb(243, 16, 129);
  }
  
  .input {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    height: 50px;
    padding: 0px 20px;
    width: 70%;
    outline: none;
  }
  
  ::-webkit-input-placeholder {
    color: white;
  }
  
  :-ms-input-placeholder {
    color: white;
  }
  
  ::-ms-input-placeholder {
    color: white;
  }
  
  ::placeholder {
    color: white;
  }
  
  .categories__title {
    color: white;
    font-size: 16px;
    position: absolute;
    padding-left: 30px;
    width: 100%;
  }
  
  .carousel {
    width: 100%;
    overflow: scroll;
    padding: 30px;
    position: relative;
  }
  
  .carousel__container {
    margin: 70px 0px;
    padding-bottom: 10px;
  }
  
  .carousel-item {
    background-color: #076f8b;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: 450ms all;
    transition: 450ms all;
    -webkit-transform-origin: center left;
    transform-origin: center left;
    position: relative;
  }
  
  .carousel-item:hover ~ .carousel-item {
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }
  
  .carousel__container:hover .carousel-item {
    opacity: 0.3;
  }
  
  .carousel__container:hover .carousel-item:hover {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 1;
  }
  
  .carousel-item__img {
    width: 200px;
    height: 250px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  
  .carousel-item__details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.9)), color-stop(rgba(0, 0, 0, 0)), to(100%));
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0), 100%);
    font-size: 10px;
    opacity: 1;
    -webkit-transition: 450ms opacity;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .carousel-item__details--title {
    color: white;
    background-color: rgba(255, 255, 255, 0.4);
    font-weight: bold;
    border-radius: 20px;
    border: 10px;
  }
  
  .carousel-item__details--text {
    color: rgb(6, 33, 124);
    background-color: rgb(121, 190, 121, 0.4);
    font-weight: bold;
    border-radius: 20px;
    border: 10px;
  }
  
  .carousel-item__details--img {
    width: 20px;
  }
  
  .footer {
    background-color: #3090df;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100px;
    width: 100%;
  }
  
  .footer a {
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  @media only screen and (max-width: 600px) {
    .login__container {
      background-color: transparent;
      border: none;
      padding: 0px;
      width: 100%;
    }
    .footer {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }
  
  ::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar:hover {
    background: #b3b3b3;
    -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  
  ::-webkit-scrollbar:hover:active {
    background: #999;
  }
  
  div.scrollmenu {
    background-color: #333;
    overflow: auto;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color: #777;
  }
  
  .scrollmenu {
    border-radius: 15px;
  }
  /*# sourceMappingURL=style.css.map */